@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(0, 0, 0);
}
.navbar {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 9px solid #f2f2f2;
}

.navbar .links {
  margin-left: left;
}
.navbar a {
  margin-right: 4px;
  text-decoration: none;
 
}
.content {
  max-width: 600px;
  margin: 70px auto;
  
}